@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:visited {
  text-decoration: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rubber-band {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  45% {
    -webkit-transform: scale3d(0.75, 1, 1);
            transform: scale3d(0.75, 1, 1);
  }
  60% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubber-band {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  45% {
    -webkit-transform: scale3d(0.75, 1, 1);
            transform: scale3d(0.75, 1, 1);
  }
  60% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.home {
  min-height: 100vh;
  padding-top: 45vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #255fa7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  min-height: 100vh;
}

.home .shapes {
  position: absolute;
  z-index: 0.5;
}

.home .shapes img {
  max-width: 20vmax;
}

.home #triangle {
  right: 3rem;
  bottom: 9rem;
}

.home #square {
  top: 16rem;
  left: 3rem;
}

.home__box {
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

.home__box--name {
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: calc(1rem + 10vmin);
  font-weight: 300;
  padding: 2.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  position: fixed;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  z-index: 2;
  text-shadow: 3px 3px 5px #000;
}

.home__box--profession {
  color: #2975d1;
  font-size: calc(1rem + 16vmin);
  font-weight: 800;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 2px 2px 12px #023a7e;
}

.home__box--profession::before {
  content: 'FULL';
  color: #2975d1;
  font-size: calc(0.7rem + 7vmin);
  position: fixed;
  top: calc(50% - 11vmin);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.home__box--profession::after {
  content: 'STACK';
  color: #2975d1;
  font-size: calc(0.7rem + 7vmin);
  position: fixed;
  top: calc(50% + 11vmin);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.home__links {
  height: 5rem;
  max-width: 40vw;
  min-width: 600px;
  position: fixed;
  top: calc(50% + 16rem);
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}

.home__links div {
  max-height: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2975d1;
  padding: 1.8em 3rem;
  margin: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.home__links #email {
  background-color: #2975d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__links #email:hover {
  cursor: pointer;
  background-color: #1b4d8d;
}

.home__links #email::after {
  content: '* click on the email to copy';
  position: absolute;
  left: -12rem;
  bottom: -1.5rem;
  font-size: 1rem;
  width: 600px;
}

.home__links #email .notify-bubble {
  position: absolute;
  width: 5.25rem;
  height: 1.35rem;
  top: -0.5rem;
  right: -0.5rem;
  padding: 2px 5px 2px 6px;
  background-color: #95bff2;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.home__links #resume {
  background: #1b4d8d;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__links #resume a {
  background-color: transparent;
  color: #fff;
}

.home__links #resume:hover {
  background-color: #2975d1;
  cursor: pointer;
}

.appear {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: fadeOut 1.5s;
          animation: fadeOut 1.5s;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.show {
  -webkit-transform: rotate(2turn);
          transform: rotate(2turn);
  background: transparent;
}

.menu-btn__burger.show::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.show::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  background: rgba(33, 95, 171, 0.999);
  -webkit-box-shadow: 0px 25px 50px -30px #1c1c1c;
  box-shadow: 0px 25px 50px -30px #1c1c1c;
  height: 5rem;
}

.nav.show {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #2975d1;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item:hover {
  -webkit-animation: rubber-band 1s;
          animation: rubber-band 1s;
}

.nav .menu-nav__item.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #fff;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  pointer-events: none;
}

.nav .menu-nav__item.active > a:before {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  content: '';
  top: 65%;
  left: 5%;
  height: 12px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 1.65rem;
  text-transform: uppercase;
  padding: 1.9rem;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #fff;
  -webkit-animation: rubber-band 1s;
          animation: rubber-band 1s;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  background-color: #2160ade5;
  background-image: url(../images/blue-wall.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.about__bio {
  height: 80%;
  width: 90%;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
}

.about__bio--picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.about__bio--picture .portrait img {
  position: fixed;
  top: 50vh;
  right: 12.5vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40vw;
  max-height: 47.5rem;
  mix-blend-mode: multiply;
  -webkit-filter: drop-shadow(0px 0px 4px #02023f) brightness(0.85) contrast(3);
          filter: drop-shadow(0px 0px 4px #02023f) brightness(0.85) contrast(3);
}

.about__bio--text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  z-index: 2;
  margin: 2rem 2rem;
  height: 95%;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.about__bio--text .tabs {
  list-style: none;
  font-size: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 50%))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(5rem, 50%));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__bio--text .tabs li {
  text-align: center;
}

.about__bio--text .tabs li button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #95bff2;
  color: #95bff2;
  height: 3rem;
  outline: 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px #000;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  font-family: 'Architects Daughter', cursive;
}

.about__bio--text .tabs li button.current, .about__bio--text .tabs li button:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
}

.about__bio--text .content-tab {
  display: none;
  padding: 2rem 0;
  -webkit-animation: fadeIn 0.5s linear;
          animation: fadeIn 0.5s linear;
}

.about__bio--text .content-tab p {
  display: block;
  line-height: 1.4;
  font-size: calc(0.4rem + 1.8vmin);
  font-weight: 300;
  letter-spacing: 1.5px;
  padding: 0rem 2rem 0rem 0.5rem;
  color: #fff;
  text-shadow: 1px 1px 4px black;
}

.about__bio--text .content-tab p span.highlight--green {
  font-weight: bolder;
  background: linear-gradient(104deg, rgba(130, 255, 173, 0) 0.9%, #82ffad 2.4%, rgba(130, 255, 173, 0.5) 5.8%, rgba(130, 255, 173, 0.1) 93%, rgba(130, 255, 173, 0.7) 96%, rgba(130, 255, 255, 0) 98%), linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
  padding: 0.05rem 0.5rem;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 0.5rem;
}

.about__bio--text .content-tab p span.highlight--yellow {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 225, 0, 0.1)), color-stop(4%, rgba(255, 225, 0, 0.7)), to(rgba(255, 225, 0, 0.3)));
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.about__bio--text .current-content-tab {
  display: block;
}

.about .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6rem;
  background-color: #2160ade5;
  background-image: url(../images/blue-wall.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.work .skills .subtitle {
  text-align: center;
  color: #fff;
  letter-spacing: 1.3px;
  font-weight: 300;
  font-size: 1.5rem;
}

.work .skills .skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 90%;
  max-width: 850px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.work .skills .skillset .tech-icons {
  margin: 0.2rem;
  border-radius: 5px;
  -webkit-filter: drop-shadow(2px 2px 5px #000);
          filter: drop-shadow(2px 2px 5px #000);
  height: 6rem;
  width: auto;
  background: url("../images/splatter.png");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.work .skills .skillset .tech-icons img {
  margin: 0.5rem 1rem;
  height: 3.5rem;
}

.work .skills .skillset .tech-icons img:hover {
  -webkit-filter: drop-shadow(2px 2px 20px #fff) saturate(3);
          filter: drop-shadow(2px 2px 20px #fff) saturate(3);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}

.work .skills .skillset .tech-icons .skill-name {
  color: #fff;
  letter-spacing: 1.5px;
  white-space: nowrap;
  line-height: 1.2;
}

.work .projects {
  margin-top: 2rem;
}

.work .projects * {
  display: block;
}

.work .projects .project {
  line-height: 1.2;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  margin: 0 0 100px 0;
  visibility: visible;
  opacity: 1;
  width: 55rem;
  height: 20rem;
  gap: 10px;
  background-color: rgba(26, 27, 29, 0.35);
  border-radius: 15px;
  overflow: hidden;
}

.work .projects .project:hover a::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1.5;
  background-color: rgba(0, 0, 0, 0.65);
  mix-blend-mode: darken;
  opacity: 0;
}

.work .projects .project-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / -1 / 8;
  margin: 0;
  position: relative;
}

.work .projects .project-image a {
  width: 100%;
  height: 100%;
  margin: 0;
}

.work .projects .project-image a img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.work .projects .project-image a::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1.5;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 1;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

.work .projects .project-content {
  text-align: left;
  grid-area: 1 / 6 / -1 / -1;
  z-index: 2;
  font-size: 1rem;
  color: #fff;
  text-align: right;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
}

.work .projects .project-content .overline {
  font-size: 0.9rem;
  margin-bottom: -1.2rem;
  letter-spacing: -0.5px;
}

.work .projects .project-content .project-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.work .projects .project-content .project-description {
  font-size: 1rem;
  background-color: #112240;
  margin: 0 -1rem;
  padding: 1rem;
  border-radius: 10px;
}

.work .projects .project-content .tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.work .projects .project-content .tech-list li {
  margin: 0.2rem 0.5rem 0.2rem 0;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(29, 29, 27, 0.45);
}

.work .projects .project-content .project-links a i {
  font-size: 1.5rem;
  color: #fff;
  margin: 0;
  padding: 0.5rem;
  margin-left: -0.5rem;
  pointer-events: auto;
  display: inline;
  text-shadow: 2px 2px 3px #000;
  outline: 0.5px dashed #fff;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.work .projects .project-content .project-links a:hover {
  cursor: pointer;
}

.work .projects .project-content .project-links a:hover i {
  outline: 2px dashed #95bff2;
  color: #95bff2;
}

.work .projects .project:nth-of-type(2n + 1) .project-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1 / 1 / -1 / 8;
  text-align: left;
}

.work .projects .project:nth-of-type(2n + 1) .project-image {
  grid-area: 1 / 6 / -1 / -1;
}

.work .projects .project:nth-of-type(2n + 1) .tech-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 767.98px) {
  .home #square {
    top: 6rem;
    left: 3rem;
  }
  .home #triangle {
    right: 0.5rem;
    bottom: 38%;
  }
  .home__box--name {
    font-size: calc(1rem + 7vmin);
    top: 39.75%;
  }
  .home__box--profession {
    top: 41%;
    font-size: calc(1rem + 12vmin);
    -webkit-transform: translate(-50%, -50%) scale(1, 1.15);
            transform: translate(-50%, -50%) scale(1, 1.15);
  }
  .home__links {
    display: block;
    min-width: 18rem;
    min-height: 14rem;
    top: calc(50% + 25rem);
    padding: 1.5rem;
  }
  .home__links div {
    padding: 1.2em 2rem;
    margin: 0 0 3rem 0;
  }
  .home__links #email:after {
    content: '* tap on the email to copy';
  }
  .about__bio {
    height: 100%;
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__bio--picture {
    margin-top: 1rem;
  }
  .about__bio--picture .portrait img {
    position: absolute;
    top: 7vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 55vw;
    max-width: 240px;
    height: auto;
  }
  .about__bio--text {
    margin-top: 10rem;
    width: 100%;
    text-align: justify;
  }
  .about__bio--text .content-tab p {
    font-size: calc(0.6rem + 1.6vmin);
    padding: 0 0.8rem 0 0;
    letter-spacing: 0.5px;
  }
  .work .skills .subtitle {
    margin-top: -1rem;
    padding-bottom: 1.5rem;
  }
  .work .skills .skillset {
    width: 99%;
    padding: 0.25rem;
  }
  .work .skills .skillset .tech-icons {
    margin: 0.15rem;
  }
  .work .skills .skillset .tech-icons img {
    margin: 0.2rem;
  }
  .work .projects .project {
    width: 95%;
    margin: 4rem auto;
  }
  .work .projects .project a::before {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .work .projects .project-image {
    grid-area: 1 / 1 / -1 / -1 !important;
  }
  .work .projects .project-content {
    grid-area: 1 / 1 / -1 / -1 !important;
  }
  .work .projects .project-content .tech-list li {
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about__bio {
    height: 100%;
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__bio--picture {
    margin-top: 1rem;
  }
  .about__bio--picture .portrait img {
    top: 6vh;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 55vw;
    max-width: 340px;
    height: auto;
  }
  .about__bio--text {
    margin-top: 19rem;
    width: 100%;
    text-align: justify;
  }
  .about__bio--text .content-tab p {
    font-size: calc(0.6rem + 1.6vmin);
    padding: 0 0.8rem 0 0;
  }
}

@media screen and (min-width: 768px) {
  .work .projects .project {
    width: 95vw;
    max-width: 55rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
}

body {
  min-height: 100vh;
  font-family: 'Architects Daughter', cursive;
  line-height: 1;
  overflow-x: hidden;
}

a {
  color: #95bff2;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 3;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  color: #fff;
  font-size: 2rem;
  text-shadow: 3px 3px 3px #000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .social-icons a i {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .social-icons a i:hover {
  -webkit-transform: scale(1.3) rotate(15deg);
          transform: scale(1.3) rotate(15deg);
  cursor: pointer;
}

main .social-icons a:nth-child(2) {
  font-size: 1rem;
}

footer {
  font: size 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */