.about {
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	background-color: #2160ade5;
	background-image: url(../dist/images/wall-texture.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	height: 100vh;

	&__bio {
		height: calc(100vh - 5rem);
		max-height: 100vh;
		width: 100%;
		display: flex;
		justify-content: center;

		&--picture {
			flex: 1;
			display: relative;

			.portrait img {
				position: absolute;
				bottom: 0;
				right: 2rem;
				height: calc(100vh - 7.35rem);
				mix-blend-mode: multiply;
				filter: drop-shadow(0px 0px 4px #02023f) brightness(0.85) contrast(3.5)
					grayscale(1);
			}
		}

		&--text {
			flex: 1;
			z-index: 2;
			margin: 2rem 2rem 4rem;
			// border-radius: 10%;

			.tabs {
				list-style: none;
				font-size: 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(12rem, 3fr));
				align-items: center;

				li {
					text-align: center;

					button {
						background-color: transparent;
						border: 0;
						border-bottom: 1px solid #95bff2;
						color: #95bff2;
						height: 3rem;
						outline: 0;
						font-size: 1.4rem;
						font-weight: bold;
						cursor: pointer;
						transition: 0.2s;
						width: 100%;
						font-family: 'Architects Daughter', cursive;

						&.current,
						&:hover {
							border-bottom: 1px solid #fff;
							color: #fff;
							font-size: 1.5rem;
							padding-bottom: 1.5rem;
							position: relative;
						}
					}
				}
			}

			.content-tab {
				display: none;
				padding: 3rem 0;
				animation: fadeIn 0.5s linear;

				p {
					display: block;
					line-height: 1.4rem;
					font-size: 1.3rem;
					font-weight: 300;
					padding: 2rem;
					color: #fff;
				}
			}
			.current-content-tab {
				display: block;
			}
		}
	}

	.social-icons {
		display: flex;
		flex-direction: row;
	}
	footer {
		transform: rotate(90deg) translate(-3rem, -5rem);
	}
}
