.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
	background-color: #2160ade5;
	background-image: url(../dist/images/wall-texture.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	min-height: 100vh;

	* {
		// outline: 1px red solid;
	}

	&__bio {
		height: 80%;
		width: 90%;
		display: flex;
		justify-content: center;
		// position: relative;

		&--picture {
			flex: 1;
			position: relative;

			.portrait img {
				position: absolute;
				top: 17.5rem;
				right: 0;
				transform: translateY(-50%);
				height: 40vw;
				max-height: 60rem;
				mix-blend-mode: multiply;
				filter: drop-shadow(0px 0px 4px #02023f) brightness(0.9) contrast(3.5)
					grayscale(1);
			}
		}

		&--text {
			flex: 2;
			z-index: 2;
			margin: 2rem 2rem;
			height: 95%;
			transform: translateY(-2rem);

			.tabs {
				list-style: none;
				font-size: 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(12rem, 3fr));
				align-items: center;

				li {
					text-align: center;

					button {
						background-color: transparent;
						border: 0;
						border-bottom: 1px solid #95bff2;
						color: #95bff2;
						height: 3rem;
						outline: 0;
						font-size: 1.4rem;
						font-weight: bold;
						text-shadow: 2px 2px 10px #000;
						cursor: pointer;
						transition: 0.2s;
						width: 100%;
						font-family: 'Architects Daughter', cursive;

						&.current,
						&:hover {
							border-bottom: 1px solid #fff;
							color: #fff;
							font-size: 1.5rem;
							padding-bottom: 1.5rem;
							position: relative;
						}
					}
				}
			}

			.content-tab {
				display: none;
				padding: 2rem 0;
				animation: fadeIn 0.5s linear;

				p {
					display: block;
					line-height: 1.4;
					font-size: calc(0.4rem + 1.8vmin);
					font-weight: 300;
					letter-spacing: 1.5px;
					padding: 0rem 2rem 0rem 0.5rem;
					color: #fff;
					text-shadow: 1px 1px 4px rgb(0, 0, 0);

					span.highlight--green {
						font-weight: bolder;
						background: linear-gradient(
								104deg,
								rgba(130, 255, 173, 0) 0.9%,
								rgba(130, 255, 173, 1.25) 2.4%,
								rgba(130, 255, 173, 0.5) 5.8%,
								rgba(130, 255, 173, 0.1) 93%,
								rgba(130, 255, 173, 0.7) 96%,
								rgba(130, 255, 1732, 0) 98%
							),
							linear-gradient(
								183deg,
								rgba(130, 255, 173, 0) 0%,
								rgba(130, 255, 173, 0.3) 7.9%,
								rgba(130, 255, 173, 0) 15%
							);
						padding: 0.05rem 0.5rem;
						-webkit-box-decoration-break: clone;
						margin: 0;
						border-radius: 0.5rem;
					}

					span.highlight--yellow {
						margin: 0 -0.4em;
						padding: 0.1em 0.4em;
						border-radius: 0.8em 0.3em;
						background: transparent;
						background-image: linear-gradient(
							to right,
							rgba(255, 225, 0, 0.1),
							rgba(255, 225, 0, 0.7) 4%,
							rgba(255, 225, 0, 0.3)
						);
						-webkit-box-decoration-break: clone;
						box-decoration-break: clone;
					}
				}
			}
			.current-content-tab {
				display: block;
			}
		}
	}

	.social-icons {
		display: flex;
		flex-direction: row;
	}
	footer {
		transform: rotate(90deg) translate(-3rem, -5rem);
	}
}
