@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;400;600;800&display=swap');

$primary-color: hsl(213, 67%, 49%);
$secondary-color: hsl(213, 2%, 69%);
$white: #fff;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border: 1px solid red;
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
	@if (lightness($color) >40%) {
		@return #000;
	} @else {
		@return #fff;
	}
}
