@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$primary-color: hsl(213, 67%, 49%);
$secondary-color: hsl(213, 2%, 69%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border: 1px solid red;
}

a:visited {
	text-decoration: none;
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
	@if (lightness($color) >40%) {
		@return #000;
	} @else {
		@return #fff;
	}
}

@keyframes rubber-band {
	0% {
		transform: scale3d(1, 1, 1);
	}
	35% {
		transform: scale3d(1.25, 0.75, 1);
	}
	45% {
		transform: scale3d(0.75, 1, 1);
	}
	60% {
		transform: scale3d(1.2, 0.8, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes buzz {
	50% {
		-webkit-transform: translateX(2px) rotate(2deg);
		transform: translateX(2px) rotate(2deg);
	}
	100% {
		-webkit-transform: translateX(-2px) rotate(-2deg);
		transform: translateX(-2px) rotate(-2deg);
	}
}

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-width: 1600px) {
		@content;
	}
}
