@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;400&display=swap');

$primary-color: hsl(221, 77%, 62%);
$secondary-color: hsl(221, 77%, 42%);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@mixin transition-ease {
	transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
	@if (lightness($color) >40%) {
		@return #000;
	} @else {
		@return #fff;
	}
}
