.home {
	min-height: 100vh;
	padding-top: 45vh;
	overflow: hidden;
	align-items: center;
	text-align: center;
	background: #2160ad;
	background-size: cover;
	position: relative;

	&__box {
		z-index: 2;

		&--name {
			color: $white;
			font-family: 'Indie Flower', cursive;
			font-size: 5rem;
			padding: 2.5rem;
			margin-bottom: 1rem;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// -webkit-box-shadow: 8px 8px 10px 11px rgba(0, 0, 0, 0.5);
			// box-shadow: 8px 8px 10px 11px rgba(0, 0, 0, 0.5);
			z-index: 2;

			&--last {
				color: $secondary-color;
				font-weight: 700;
			}
		}

		&--profession {
			color: $primary-color;
			font-size: 10rem;
			font-weight: 800;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			text-shadow: 2px 2px 12px hsl(213, 97%, 25%);

			&::before {
				content: 'FULL';
				color: $primary-color;
				font-size: 5rem;
				position: fixed;
				top: calc(50% - 7rem);
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}

			&::after {
				content: 'STACK';
				color: $primary-color;
				font-size: 5rem;
				position: fixed;
				top: calc(50% + 7rem);
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
		}
	}

	&__links {
		height: 5rem;
		max-width: 40vw;
		min-width: 600px;
		position: fixed;
		top: calc(50% + 13rem);
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		color: #fff;

		div {
			// max-width: 50%;
			max-height: 4rem;
			flex: 1;
			background-color: $primary-color;
			padding: 2em 3rem;
			margin: 1rem;
			color: #fff;
			display: flex;
			justify-content: space-between;
			justify-content: center;
			align-items: center;
		}

		:nth-child(1) {
			background: $primary-color;
			display: flex;
			position: relative;

			span {
				position: absolute;
				left: 2rem;

				&::after {
					content: '* click on the clipboard icon to copy my email';
					position: absolute;
					left: -12rem;
					bottom: -3rem;
					font-size: 0.75rem;
					width: 600px;
				}
			}

			i {
				background: $primary-color;
				font-size: 1.75rem;
				position: absolute;
				right: 1rem;
			}
		}

		:nth-child(2) {
			@include transition-ease;
			background: #1b4d8d;
			position: relative;
			text-align: center;

			a {
				@include transition-ease;
				background-color: #1b4d8d;
				color: #fff;
				position: absolute;
				inset: 0;
				justify-content: center;
				align-items: center;
			}

			&:hover {
				background-color: $primary-color;
				cursor: pointer;

				a {
					background-color: $primary-color;
				}
			}
		}
	}
}
