.home {
	min-height: 100vh;
	padding-top: 45vh;
	overflow: hidden;
	align-items: center;
	text-align: center;
	background: #2160ad;
	background-size: cover;
	position: relative;
	overflow: hidden;

	.shapes {
		position: absolute;
		z-index: 0.5;

		img {
			max-width: 20vw;
		}
	}

	#triangle {
		right: 3rem;
		bottom: 9rem;
	}

	#square {
		top: 16rem;
		left: 3rem;
	}

	&__box {
		z-index: 2;

		&--name {
			color: #fff;
			font-family: 'Indie Flower', cursive;
			font-size: 6rem;
			font-weight: 300;
			padding: 2.5rem;
			margin-bottom: 1rem;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -35%);
			z-index: 2;
		}

		&--profession {
			color: $primary-color;
			font-size: 10rem;
			font-weight: 800;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			text-shadow: 2px 2px 12px hsl(213, 97%, 25%);

			&::before {
				content: 'FULL';
				color: $primary-color;
				font-size: 5rem;
				position: fixed;
				top: calc(50% - 7rem);
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}

			&::after {
				content: 'STACK';
				color: $primary-color;
				font-size: 5rem;
				position: fixed;
				top: calc(50% + 7rem);
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
			}
		}
	}

	&__links {
		height: 5rem;
		max-width: 40vw;
		min-width: 600px;
		position: fixed;
		top: calc(50% + 13rem);
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		color: #fff;

		div {
			// max-width: 50%;
			max-height: 4rem;
			flex: 1;
			background-color: $primary-color;
			padding: 2em 3rem;
			margin: 1rem;
			color: #fff;
			display: flex;
			justify-content: space-between;
			justify-content: center;
			align-items: center;
		}

		:nth-child(1) {
			background: $primary-color;
			display: flex;
			position: relative;

			span {
				position: absolute;
				left: 2rem;

				&::after {
					content: '* click on the clipboard to copy';
					position: absolute;
					left: -15rem;
					bottom: -3rem;
					font-size: 0.75rem;
					width: 600px;
				}
			}

			#copyBtn:hover {
				animation: buzz 0.15s linear infinite;
			}

			.paused {
				animation-play-state: paused !important;
			}

			i {
				background: $primary-color;
				font-size: 1.75rem;
				position: absolute;
				right: 1rem;
				transition: none;

				&:active {
					transform: scale(0.9);
					color: rgb(196, 196, 196);
				}
			}

			.notify-bubble {
				position: absolute;
				width: 1.25rem;
				height: 1.25rem;
				top: -0.5rem;
				right: -0.5rem;
				padding: 2px 5px 2px 6px;
				background-color: rgb(132, 225, 92);
				color: #fff;
				font-size: 1rem;
				border-radius: 50%;
				box-shadow: 1px 1px 1px gray;
				display: flex;
				justify-content: center;
				align-items: center;
				display: none;
				// @include transition-ease;
			}
		}

		:nth-child(2) {
			@include transition-ease;
			background: #1b4d8d;
			position: relative;
			text-align: center;

			a {
				@include transition-ease;
				background-color: #1b4d8d;
				color: #fff;
				position: absolute;
				inset: 0;
				justify-content: center;
				align-items: center;
			}

			&:hover {
				background-color: $primary-color;
				cursor: pointer;

				a {
					background-color: $primary-color;
				}
			}
		}
	}
}

.appear {
	display: flex !important;
	animation: fadeOut 1.2s;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


