// {
//     /* PC FIRST */
// }
// @media screen and (max-width: 1024px) {
//     /* Tablet */
// }
// @media screen and (max-width: 768px) {
//     /* Smart phone (landscape) */
// }
// @media screen and (max-width: 480px) {
//     /* Smart phone (portrait) */
// }

// {
//      /* MOBILE FIRST */
// }
// @media screen and (min-width: 481px) {
//     /* Smart phone (landscape) */
// }
// @media screen and (min-width: 769px) {
//     /* Tablet */
// }
// @media screen and (min-width: 1025px) {
//     /* PC */
// }

@mixin media-sm {
	@media (max-width: 767.98px) {
		@content;
	}
}

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (min-width: 1600px) {
		@content;
	}
}

@include media-sm {
	.home {
		#square {
			top: 6rem;
			left: 3rem;
		}
		#triangle {
			right: 0.5rem;
			bottom: 38%;
		}
		&__box {
			&--name {
				font-size: calc(1rem + 7vmin);
				top: 39.75%;
			}
			&--profession {
				top: 41%;
				font-size: calc(1rem + 12vmin);
				transform: translate(-50%, -50%) scale(1, 1.15);
			}
		}
		&__links {
			display: block;
			min-width: 18rem;
			min-height: 14rem;
			top: calc(50% + 9rem);
			padding: 1.5rem;
			div {
				padding: 1.2em 2rem;
				margin: 0 0 3rem 0;
			}
			#email {
				&:after {
					content: '* tap on the email to copy';
				}
			}
		}
	}

	.about {
		&__bio {
			height: 100%;
			width: 95%;
			flex-direction: column-reverse;
			align-items: center;
			&--picture {
				margin-top: 1rem;
				.portrait img {
					top: 4rem;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 55vw;
					max-width: 240px;
					height: auto;
				}
			}
			&--text {
				margin-top: 16rem;
				width: 100%;
				text-align: justify;

				.content-tab {
					p {
						font-size: calc(0.6rem + 1.6vmin);
						padding: 0 0.8rem 0 0;
					}
				}
			}
		}
	}

	.work {
		.skills {
			.subtitle {
				margin-top: -1rem;
				padding-bottom: 1.5rem;
			}
			.skillset {
				width: 99%;
				padding: 0.25rem;
				.tech-icons {
					margin: 0.15rem;
					img {
						margin: 0.2rem;
					}
				}
			}
		}

		.projects {
			.project {
				width: 95%;
				margin: 4rem auto;

				a::before {
					background-color: rgba(0, 0, 0, 0.4);
				}

				&-image {
					grid-area: 1 / 1 / -1 / -1;
				}

				&-content {
					grid-area: 1 / 1 / -1 / -1;

					.tech-list {
						li {
							white-space: nowrap;
						}
					}
				}
			}

			.project:nth-of-type(2n + 1) .project-content {
				grid-area: 1 / 1 / -1 / -1;
				text-align: left;
			}
			.project:nth-of-type(2n + 1) .project-image {
				grid-area: 1 / 1 / -1 / -1;
			}
		}
	}
}

@include media-md {
}

@include media-lg {
	.menu-btn {
		visibility: hidden;
	}

	.nav {
		visibility: visible;

		.menu-nav {
			display: block;
			transform: translateY(0);
			height: 100%;
			background: transparent;
			text-align: right;

			&__item {
				display: inline;
				padding-right: 1.5rem;
			}
		}
	}
}

@include media-xl {
}
