@import 'config';
@import 'home';
@import 'navigation';
@import 'about';
@import 'projects';
@import 'contact';

body {
	min-height: 100vh;
	// font-family: 'Indie Flower', cursive;
	font-family: 'Poppins', sans-serif;
	line-height: 1;
	overflow: hidden;
}
