@import 'config';
@import 'home';
@import 'navigation';
@import 'about';
@import 'projects';
@import 'responsiveness';

body {
	min-height: 100vh;
	font-family: 'Architects Daughter', cursive;
	line-height: 1;
	overflow-x: hidden;
}

a {
	color: #95bff2;
	text-decoration: none;
}

header {
	position: fixed;
	z-index: 3;
	width: 100%;
}

main {
	height: 100%;
	width: 100%;

	.social-icons {
		position: fixed;
		bottom: 1rem;
		left: 1rem;

		a {
			padding: 0.4rem;
			color: #fff;
			font-size: 2rem;
			text-shadow: 3px 3px 3px #000;
			@include transition-ease;

			i {
				transition: all 0.2s ease-in-out;

				&:hover {
					transform: scale(1.3) rotate(15deg);
					cursor: pointer;
				}
			}
		}
		a:nth-child(2) {
			font-size: 1rem;
		}
	}
}

footer {
	font: size 1rem;
	position: fixed;
	bottom: 0.4rem;
	right: 1rem;
	text-align: right;
	padding: 1rem;
	color: #fff;
}
